@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');

body{
    background-color: #0e0b16;
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Ubuntu', sans-serif;
}

nav ul{
    display: flex;
    list-style-type: none;
    height: 60px;
    background-color: white;
    align-items: center;
}

.brand img{
    height: 60px;
    padding: 0 10px 0 0;
}

.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 20px;
}
nav ul li{
    padding: 0 12px;
}

.container{
    min-height: 68vh;
    background-image: url(bagroundimg.jpg);
    background-size: 100%;
    background-color: #0e0b16;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    margin: 24px auto;
    width: 70%;
    border-radius: 12px;
    padding: 34px;
    
    
}

.bottom{
    position: sticky;
    height: 100px;
    background-color: #0e0b16;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
}

.icons{
    margin: 15px;
}

.icons i{
    cursor: pointer;
}

#myProgressBar{
    width: 80vw;
    cursor: pointer;
}

.songitemcontainer{
    margin-top: 44px;
}

.songitem{
    height: 50px;
    display: flex;
    background-color: white;
    color: #0e0b16;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px
}

.songitem img{
    width: ;
    height: 50px;
    margin: 0 24px;
    border-radius: 34px;

}

.timestamp{
    margin: 0 24px;
}

.timestamp i{
    cursor: pointer;
}

.songinfo{
    position: absolute;
    left: 12vw;
}

.songinfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in;
}